{{ block styles }}
    <link rel="stylesheet" href="{{ static 'global/style_sheets/global_styles.css' }}">
    {{ include C.STYLES_LOCAL }}
    <style>
        .otree-title {
            display: none;
        }
    </style>
{{ endblock }}


{{ block content }}

<!-- // begin row 1 // -->
<div class="row" style="margin-bottom: 5%;"><div class="col-md-12 col-lg-12">

 <!-- // Header text Div // -->
    <div style="clear:both; height:4rem; margin-top:3%;">
        {{ if player_task == 0 }}
            <div style="height:2rem; margin-top:2%;"><p class="fake_header centerText">Please allocate the balls between the two buckets</p></div>
        {{ else }}
        <div style="height:2rem; margin-top:2%;"><p class="fake_header centerText">Please allocate the balls between the two buckets <br />
            The rule is to put the ball into the <span class="styleText_Bucket_01">blue</span> bucket</p></div>
        {{ endif }}
    </div>
    
 <!-- // ****** Div for the Buckets ****** // -->
    <div style="clear:both; margin-right: 5%; margin-left: 5%; margin-top: 8%;">
        <div class="BinforBuckets" {{ bucket_01_float }} >
            <h4 class="{{ C.STYLE_BUCKET_01 }}">{{ bucket_01_title }}<br />$ {{ bucket_01_payoff|to2 }}</h4>

            <div id="Bucket01" class="ColorBucket droppable"></div>
        </div>

        <div class="BinforBuckets" {{ bucket_02_float }}>
            <h4 class="{{ C.STYLE_BUCKET_02 }}">{{ bucket_02_title }}<br />$ {{ bucket_02_payoff|to2 }}</h4>

            <div id="Bucket02" class="ColorBucket droppable"></div>
        </div>
    </div>

</div></div> <!-- end div class column-12 in row 1-->


<!-- // begin row 2 //-->
<div class="row">

 <!-- // time and balls remaining table // -->
    <div class="col-md-3"> 
        <div style="margin-top: 15%;">
            <table class="borderNONE timerTable" width="200px" style=" margin: auto;"> 
                <tr>
                    <td class="borderNONE" width="150px">Time remaining:</td>
                    <td class="borderNONE" width="50px"><span id="CountdownClock"></span></td>
                </tr>
                <tr>
                    <td class="borderNONE" width="150px">Balls remaining:</td>
                    <td class="borderNONE" width="50px">{{ balls_remaining }} </td>
                </tr>
            </table>
            <span class="display_none" id="timer"></span> <!-- <span id="timer"> is NECESSARY for "ticking" to function -->
        </div>
    </div>
    
<!-- //****** Ball to Drag Div ******// -->
    <div class="col-md-6 my-auto">
        <div style="margin-top: 8%;">
            <div class="centerElem" id="ballbag">
                <div class="centerElem ball" id="draggable_ball" draggable="true"></div>
            </div>

            <div class="centerElem"> 
                <p class="centerText" style="margin-top: 2.5%;">Click and drag the ball to put it into a bucket.</p>
            </div>
        </div>
    </div>

 <!-- // mini history table // -->
    <div class="col-md-3 align-self-center"> 
        <table class="table borderNONE text-center miniHistory" style="width: auto; margin: auto;">
            <tr><th class="miniHistory">Bucket</th><th class="miniHistory">Earnings</th></tr>
            <tr><td class="borderNONE">{{ bucket_01_historyName }} bucket</td><td class="borderNONE">$ {{ bucket_01_payoff|to2 }}</td></tr>
        {{ if player_task == 1 }} 
                <tr class="bottomBorder"><td>{{ bucket_02_historyName }} bucket</td><td>$ {{ bucket_02_payoff|to2 }}</td></tr>
                <tr><td class="borderNONE">Total</td><td class="borderNONE">$ {{ player_earnings|to2 }}</td></tr>
        {{ else }}
                <tr><td class="borderNONE">{{ bucket_02_historyName }} bucket</td><td class="borderNONE">$ {{ bucket_02_payoff|to2 }}</td></tr>
        {{ endif }}
        </table>
    </div>

</div> <!-- end row 2 -->


<!-- // begin row 3 // -->
<div class="row">
    <input type="hidden" name="bucket" id="bucket" />
    {{ formfield_errors 'bucket' }}
</div> <!-- end row 3-->

{{ endblock }}


{{ block scripts }}
<script> /*  ==== Ball Dragging and Dropping Script ==== */

/* draggable element: ball */
    const item = document.querySelector('.ball'); // finds html elements of class="ball"

/* event listeners for the ball */
    item.addEventListener('dragstart', dragStart); // listens for start of dragging ball
    item.addEventListener('dragend', dragStop); // listens for end of dragging ball, wherever that happens

/* functions for ball events */
    function dragStart(e) {
        e.dataTransfer.setData('text/plain', e.target.id); // grabs the id of the ball, "draggable_ball"
        event.target.classList.add('while-dragging'); // adds the class "while-dragging" to the element on the event
    }

    function dragStop(e) {
        event.target.classList.remove('while-dragging'); // removes the class "while-dragging" to the element on the event
    }

/* drop targets: buckets */
    const buckets = document.querySelectorAll('.droppable'); // finds html elements of class="droppable"

/* event listeners for the buckets */
    /* applies each event listener to all buckets on page */
    buckets.forEach(buckets => {
        buckets.addEventListener('dragenter', dragEnter)
        buckets.addEventListener('dragover', dragOver);
        buckets.addEventListener('dragleave', dragLeave);
        buckets.addEventListener('drop', dropOn);
    });

/* functions for bucket events */
    function dragEnter(e) {
        e.preventDefault();
        e.target.classList.add('drag-over'); // adds the class "drag-over" to the element on the event
    }

    function dragOver(e) {
        e.preventDefault();
        e.target.classList.add('drag-over'); // adds the class "drag-over" to the element on the event
    }

    function dragLeave(e) {
        e.preventDefault();
        e.target.classList.remove('drag-over'); // removes the class "drag-over" to the element on the event
    }

    var targetValue, chosenBucket; //
    var animateInterval = null; // new for ball-drop

/* functions for drop event -- happens on the buckets */
    function dropOn(e) {
        event.preventDefault();
        e.target.classList.remove('drag-over'); // removes the class "drag-over" to the element on the event

    // capture choice of bucket and send to server (alllows choice of bucket to be robust to placing ball on the binned balls)
        if (e.target.id == "Bucket02" || e.target.classList.contains("binis02") ) {
            targetValue = 'bucket_02';
            chosenBucket = document.getElementById('Bucket02');
        } else if (e.target.id == "Bucket01" || e.target.classList.contains("binis01") ) {
            targetValue = 'bucket_01';
            chosenBucket = document.getElementById('Bucket01');
        }
        
        forminputs.bucket.value = targetValue; // set the value of the form before submitting
        
    // get the draggable element
        const id = e.dataTransfer.getData('text/plain'); // returns the id of the ball, "draggable_ball"
        const draggable = document.getElementById(id); // grabs the <div> element with id="id"

    // attach the ball to the drop target
        chosenBucket.appendChild(draggable);

    // return display color of the ball to the original pre-dragged style
        draggable.classList.remove('while-dragging');

    // for ball-drop event below. want it delayed? change that 0 to something else
        setTimeout(() => {
            draggable.style.position = 'absolute'; // required for javascript ball-falling
            ballDrop(draggable);
        }, 0);

    // NEW moved here from below; submits the form to the server. delay for ball drop animation
        setTimeout(() => {
            document.getElementById("form").submit();
          }, 80);
    }

/* functions for ball drop event -- happens on the ball */
    // from https://www.w3schools.com/howto/howto_js_animate.asp
        //var animateInterval = null;
    function ballDrop(draggable) {
        var elem = draggable;//document.getElementById("draggable_ball");
        var pos = 0;
        clearInterval(animateInterval);
        animateInterval = setInterval(frame, 15); // the lower the number, the faster it falls
        function frame() {
            if (pos == 65) { // can make it fall farther into the bucket by increasing this
                clearInterval(animateInterval);
            } else {
                pos++;
                elem.style.top = pos + 'px';
                //elem.style.left = pos + 'px';
            }
        }
    }

</script>


<script> /*  ==== Buckets Filling Up with Balls Script ==== */
    // 1) fill each bucket with the number of balls already allocated to each bucket
        // 1.a) requires the total number of balls already allocated to each bucket
        // i.e., "js_vars.bucket_01_num_balls" and "js_vars.bucket_02_num_balls"
    // 2) ensures that the balls populating the buckets do not interfere with the drag-and-drop event
        // by applying the class "binis01" or "binis02" to each ball as appropriate
    
    var Bucket02 = document.getElementById('Bucket02'); // finds the flex-container Bucket_02 and creates a javascript variable for it
    var Bucket01 = document.getElementById('Bucket01'); // finds the flex-container Bucket_01 and creates a javascript variable for it
    
    for (var i=1; i<=js_vars.bucket_02_num_balls; i++) { // creates a div element for each ball previously allocated to Bucket_02
        let ball_02 = document.createElement("div"); // each ball is its own div element
        ball_02.setAttribute("class", "binnedBall"); // applies the class "binnedBall" to the div so that it behaves according to the stylesheet
        ball_02.classList.add('binis02'); // applies the class "binis02" to the div so that balls dragged on top of the pre-existing balls within the bucket do not interfere with the drop event
        Bucket02.append(ball_02); // makes the ball a flex-item child of the flex-container Bucket_02
    }
    
    for (var i=1; i<=js_vars.bucket_01_num_balls; i++) { // creates a div element for each ball previously allocated to Bucket_01
        let ball_01 = document.createElement("div"); // each ball is its own div element
        ball_01.setAttribute("class", "binnedBall"); // applies the class "binnedBall" to the div so that it behaves according to the stylesheet
        ball_01.classList.add('binis01'); // applies the class "binis01" to the div so that balls dragged on top of the pre-existing balls within the bucket do not interfere with the drop event
        Bucket01.append(ball_01); // makes the ball a flex-item child of the flex-container Bucket_01 
    }
</script>


<script> /* ==== Hard Timer Script ==== */
    let customTimerEle = document.getElementById('CountdownClock');

    function addZero(obj) {
        if (obj < 10) {obj = "0" + obj}
        return obj;
    }

    function makeitBaseSixty(remainingTime) {
        var hoursLeft = Math.floor(remainingTime/3600);
        var minutesLeft = Math.floor((remainingTime - hoursLeft*3600)/60);
        var secondsLeft = remainingTime - Math.floor(remainingTime/60)*60;
        let h = addZero(hoursLeft);
        let m = addZero(minutesLeft);
        let s = addZero(secondsLeft);
        return {h, m, s};
    }

    document.addEventListener("DOMContentLoaded", function (event) {
        $('.otree-timer__time-left').on('update.countdown', function (event) {
            let displayClock = makeitBaseSixty(event.offset.totalSeconds);
            if (displayClock.h < 1) {
                customTimerEle.innerHTML = displayClock.m + ":" + displayClock.s;
            } else {
                customTimerEle.innerHTML = displayClock.h + ":" + displayClock.m + ":" + displayClock.s;
            }
        });
    });
</script>

{{ endblock }}



